:host {
  --content-padding: 10px;
}

header {
  display: flex;
  height: 60px;
  align-items: center;
  padding: var(--content-padding);
  box-shadow: 0px 5px 25px var(--shadow-color);
}

.content {
  padding: var(--content-padding);
}

