section {
  width: 50%;
  margin-top: 70px;
  margin-left: 70px;
  padding: 25px;
  border-radius: 30px;
  background-color: rgba(139, 137, 230, .3);
}

section a {
  margin-top: 15px;
  text-decoration: none;
  color: var(--primary-color);
  font-size: 25px;
}

section a::after {
  content: "\203A";
  margin-left: 5px;
}

h2, p {
  margin-bottom: 15px;
}

h2 {
  text-align: center;
}